@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    
    margin: 0;
    padding: 0;
    background-color: rgb(28, 28, 63);
    width: 100%;
    min-height: 100vh;
}

footer{
    color:rgb(224, 197, 231);
}

a {
    text-decoration: none;  
    color: inherit; 
}

.header-texts{
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(224, 197, 231);
    background-color: rgb(107, 107, 158);
    width: 100%;
}
.info{
    display: flex;
    flex-direction: row;
}

img {
    width: 200px;
    height: 200px;
    background-image: url("https://placehold.co/200x200");
    background-size: cover;
    background-position: center;
}

.banner-container{
    position: relative;
    font-size: 30px;
    color:rgb(224, 197, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 150px;
    padding: 10%;
    border: 10%;
    max-width: 1200px;
}

header{
    font-size: 20px;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #808080;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    height: 60px;
    background-color:rgb(28, 28, 63);
    color:rgb(224, 197, 231);
    z-index: 1000;
}

ul{
    display:flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0;
    padding: 0 50px;
    gap: 5px;
}
.nav-buttons{
    height: 100%;
    padding: 10px;
    border-radius: 10%;
}