@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    display:flex;
    flex-direction: row;
    background-color: rgb(28, 28, 63);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-container{
    position: relative;
    font-size: 30px;
    color:rgb(224, 197, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 200px;
    border: 10%;
    width: 100%;
    height: 100vh;
    gap: 20px;
    inset: 0;
    position: absolute
}
.slide{
    display: none;
    opacity: 0;
}
.slide.visible{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    opacity: 1;
}
.slide-background2{
    background-color: rgb(107, 107, 158);
}
.slide img{
    width: 200px;
    height: 200px;
    background-image: url("https://placehold.co/200x200");
    background-size: cover;
    background-position: center;
}

footer{
    color:rgb(224, 197, 231);
    font-size: 30px;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #808080;
    width: 100%;
    position: fixed;
    bottom: 0; 
    left: 0; 
    height: 60px;
    background-color:rgb(28, 28, 63);
    z-index: 1000;
}

a {
    text-decoration: none;  
    color: inherit; 
}

.header-texts{
    font-size: 50px;
}

.info{
    display: flex;
    flex-direction: row;
}

ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0 50px;
    gap: 50px;
}
.nav-buttons{
    height: 100%;
    padding: 10px;
    border-radius: 10%;
}